<%- include('../partials/header') %>


<% results.forEach(function(r) { %>
    <br><br>
<li>
    <%= r.name %>
    <br>
    <%= r.origin %>
    
</li>
<br>
    <a href="/recipes/<%= r._id %>">Details</a><br>

    <form action="/recipes/ <%= r._id %>?_method=DELETE" method="POST">
        <button type="submit" class="btn">delete</button>
    </form>  

<% }) %>

<%- include('../partials/footer') %>
