<%- include('../partials/header') %>

    <% results.forEach(function(r) { %>
        <br><br>
        <div class="index-page">

            <li>
                <br>
                <img id="picture" src= '<%= r.image %>'>
                <br><br>
                <%= r.name %>
                <br><br>
                <%= r.origin %>
                <br><br>
                <a href="/recipes/<%= r._id %>">How To Make It</a>
                <br>
            </li>
            
        </div>

    <form id="remove" action="/recipes/<%= r._id %>?_method=DELETE" method="POST">
        <button type="submit" class="btn">delete</button>
    </form>  

    <% }) %>

<%- include('../partials/footer') %>
